default:
  tags:
    - linux

stages:
  - prepare
  - lint
  - test


build_build_image:
  services:
    - docker:24-dind
  image: docker:24-cli
  stage: prepare
  before_script:
    # this is to be able to pull and push images
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - cd .ci
    - docker build -t $CI_REGISTRY_IMAGE/buildimage:latest .
    - docker push $CI_REGISTRY_IMAGE/buildimage:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE != "push"'
      when: never
    - changes:
      - .ci/Dockerfile


lint:
  image: $CI_REGISTRY_IMAGE/buildimage:latest
  stage: lint
  before_script:
    - npm ci
  script:
    - pre-commit run --all-files
    - npm run lint
  variables:
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
  cache:
    - key:
        files:
          - package-lock.json
      paths:
        - node_modules/

test:
  image: $CI_REGISTRY_IMAGE/buildimage:latest
  stage: test
  before_script:
    - npm ci
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - coverage/
    when: always
    reports:
      junit:
        - junit.xml
  cache:
    - key:
        files:
          - package-lock.json
      paths:
        - node_modules/
